@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #E2DED2, #9FA092);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #4c4d4693;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #D6B98F;
    text-align: center;
    text-shadow: 1px 1px 2px #a79071b0;
}

h2 {
   color: #8F705B;
}

p {
    text-align: justify;
}

